.page {
  font-family: 'Inter';
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  padding: 28px 48px 24px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  }

.content {
  margin: 0;
  padding: 0;
  }
