.header__link {
  color: #FFFFFF;
  transition: opacity 0.5s linear;
  margin-right: 0;
}

.header__link:hover {
  opacity: 0.5;
}

.header__link:first-child {
  margin-right: 18px;
}

.header__link::after {
  content: "";
  height: 52px;
  width: 176px;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url(../../../images/header-logo.svg);
  background-size: cover;
}
