.lead__image {
  margin: 0;
  width: 100%;
  position: relative;
 }

 .lead__image::after {
  content: "";
  width: 95%;
  height: 50%;
  background-image: url(../../../images/lead-map.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 14%;
  left: 3%;
  }

  @media screen and (min-width: 1280px) {
    .lead__image::after {
    position: absolute;
    top: 14%;
    left: 3%;
    }
  }

  @media  all and (min-width: 768px) and (max-width: 1023px) {
    .lead__image::after {
    position: absolute;
    top: 14%;
    left: 3%;
      }
  }
