.lead__image {
  margin: 0;
  width: 100%;
  position: relative;
 }

 .lead__image::after {
  content: "";
  width: 95%;
  height: 50%;
  background-image: url(../../../images/lead-map.svg);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 85px;
  left: 22px;
  }

