.place {
margin-top: 80px;
max-height: 100%;
display: grid;
grid-template-columns: minmax(320px, 460px) 1fr;
gap: 48px 32px;
justify-content: space-between;
align-content: space-between;
}

.place:first-child {
  margin: 0;
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 320px 1fr;
  }
}

@media screen and (min-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    gap: 48px 28px;
  }
}
